#Navbar {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;

}

.Navbarlist {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-grow: 1;
}

li {
    list-style-type: none;
}