.Navbarlist {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background-color: black;
}

#Navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: aliceblue;
}

.registerform {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#root {
    margin-left: 5px auto;
    padding: 2rem;
    text-align:  row;
    background-color: aliceblue;
    padding-left: 10px;
}